<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>layout</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="heading clearfix"> <img src="img/logo.png" alt="Golden" class="logo">
                <nav>
                    <ul class="menu">
                        <li> <a href="#">Home</a> </li>
                        <li> <a href="#">Services</a> </li>
                        <li> <a href="#">Portfolio</a> </li>
                        <li> <a href="#">About</a> </li>
                        <li> <a href="#">Contact</a> </li>
                    </ul>
                </nav>
            </div>
            <div class="greatings">
                <div class="welcome">Welcome to our studio!</div>
                <h1>It's nice to meet you</h1> </div> <a class="button" href="#">Tell me more</a>
        </div>
    </header>
    <section id="services">
        <div class="container"></div>
        <div class="title">
            <h2>
                Services
            </h2>
            <p> Proin iaculis purus consequat sem cure. </p>
        </div>
        <div class="services clearfix">
            <div class="services_item"> <img src="img/icon1.png" alt="Услуги">
                <h3>
                    E-Commerce
                </h3>
                <p> Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="services_item"> <img src="img/icon2.png" alt="Ответственность">
                <h3>
                    Responsive Web
                </h3>
                <p> Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </div>
            <div class="services_item"> <img src="img/icon3.png" alt="Безопасность">
                <h3>
                    Web Security
                </h3>
                <p> Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="title">
                <h2>
                    Our portfolio
                </h2>
                <p> Proin iaculis purus consequat sem cure. </p>
            </div>
            <div class="works clearfix">
            <img src="img/img1.jpg" alt="Портфолио">
            <img src="img/img2.jpg" alt="Портфолио">
            <img src="img/img3.jpg" alt="Портфолио">
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="title">
                <h2>
                    About us
                </h2>
                <p> Proin iaculis purus consequat sem cure. </p>
            </div>
            <div class="about clearfix">
                <div class="about_caption">
                    <h3><date>July 2010</date><br>
                    Our Humble Beginnings</h3>
                    <p> Proin iaculis purus consequat sem cure <br> digni ssim. Donec porttitora entum suscipit <br> aenean rhoncus posuere odio in tincidunt. Proin <br> iaculis purus consequat sem cure dignissim. <br> Donec porttitora entum suscipit.</p>
                </div>
                <div class="picture"><img class="picture" src="img/about1.jpg" alt="Досуг"></div>

                <div class="about_caption2">
                    <h3><date>January 2011</date><br>
                    Facing Startup Battles
                    </h3>
                    <p> Proin iaculis purus consequat sem cure <br> digni ssim. Donec porttitora entum suscipit <br> aenean rhoncus posuere odio in tincidunt. Proin <br> iaculis purus consequat sem cure dignissim. <br> Donec porttitora entum suscipit.</p>
                </div>
                <div class="picture2"><img class="picture" src="img/about2.jpg" alt="Путешествия"></div>

                <div class="about_caption">
                <h3><date>December 2012</date><br>
                    Enter The Dark Days
                </h3>
                    <p> Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni. </p>
                </div>
                <div class="picture"><img class="picture" src="img/about3.jpg" alt="Концерты"></div>

                <div class="about_caption2">
                <h3><date>February 2014</date><br>
                    Our Triumph
                </h3>
                    <p> Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure dignissim. Donec porttitora entum suscipit aenean.</p>
                </div>
                <div class="picture2"><img class="picture" src="img/about4.jpg" alt="Восхождения"></div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container"> © Copyright 2014 FreebiesXpress.com </div>
    </footer>

</body>

</html>
