html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat',
    sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}
.icon {
    background-color: #fff;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Page
======================*/
.page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    min-height: 700px;

    background: #000 url("../img/bg.jpg") center no-repeat;
    background-size: cover;
}


/* Header
======================*/
.header {
    padding: 1rem 0;
    margin-bottom: 110px;
    background: #2B7DED;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-brand {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1rem;

    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s linear;
}

.header-nav-link:hover {
    color: #7ee3eb;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;
}

/* Content
======================*/
.content {
    width: 100%;
    height: 100%;
    max-width: 565px;
}

.content-header {
    margin-bottom: 35px;
}

.subtitle {
    font-size: 2rem;
    color: rgba(255, 255, 255, .6);
    font-weight: 300;
}

.title {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
}

.title span {
    color: #2B7DED;
}

.text {
    margin-bottom: 3.2rem;
    font-size: 1rem;
    color: #fff;
    text-align: justify;
}

/* Btn
======================*/
.btn {
    display: inline-block;
    padding: 12px 35px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    border: 0;
    cursor: pointer;
    background: #2B7DED;
    border-radius: 5px;
    transition: background .2s linear;
}

.btn-full {
    display: block;
    width: 100%;
}

.btn:hover {
    background: #285a9f;
}


/* Author
======================*/

.author {
    position: absolute;

    bottom: 0;
    right: 0;
}

/* Footer
======================*/

.footer {
    width: 100%;

    position: absolute;
    bottom: 45px;
    left: 0;

}

/* Contacts
======================*/

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 2rem;

    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}
.contacts-link:last-child:after {
    content: "";
    width: 80px;
    height: 2px;
    margin-left: 2rem;
    pointer-events: none;

    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 11px;
}
.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 6px;
}


/* Form
======================*/

.form {
    width: 100%;
    max-width: 280px;

}
.form-group {
    margin-bottom: 15px;
}

.input,
.textarea {
    display: block;
    width: 100%;
    padding: 12px 18px;

    font-family: inherit;
    font-size: 1rem;
    color: #fff;

    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
    border: 0;
}

.textarea {
    height: 100px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: #fff;
}
@media (max-width: 1000px) {
    .author {
        right: 170px;
    }

/* Header
======================*/

@media (max-width: 767px) {
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: rem;
    }
    .header {
        margin-bottom: 50px;
    }
    .header-logo {
        display: none;
    }

    .header-brand {
        font-size: 1.2rem;
    }
    /* Content
======================*/
    }
    .content {
        max-width: none;
        margin-bottom: 50px;
        text-align: center
    }
    .form {
        margin: 0 auto;
    }
    .author {
        display: none;
    }
    /* Contacts
======================*/
    .contacts {
        flex-direction: column;
    }
    .contacts-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .contacts-link:last-child {
        margin-bottom: 0;
    }
    .contacts-link:last-child:after {
        display: none;
    }
    .footer {
        position: static;
    }

@media (max-width: 565px) {
    }
    .header-inner {
        flex-direction: column;
    }
    .header-brand {
        margin-bottom: 1rem;
    }
@media (max-width: 320px) {
    .subtitle {
        font-size: 1.2rem;
    }
    .title {
        font-size: 1.6rem;
    }
}
